

#hemisphere_title {
    color: rgb(171, 72, 36);
}


.heading_Mission_to_Mars {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;

}
#size_featured_image {
    size: 500px;
}
#mars_facts_table {
    margin-left: 15px;
    padding-left: 15px;
    font-family:Arial, Helvetica, sans-serif ;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#mars_news {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mars_hemisphere {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}