body {
    background-color: black;
}

.paragraph {
    font-size: 100px;


}
.display-2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:500px;
}

.display-3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:100px;
}


@media (max-width: 800px) {
    body {
        background: white;
        } 


    .display-2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 35px;
        font-weight: 400;
        ;
        }
    }

    